body {
    color: navy;
	margin: 5%;
    padding: 5%;
    height: 100%;
    font: normal 16px Georgia;
    align: center;
    background-color: lightblue;
   
}

.subheading {
	text-align: left;
	color: maroon;
	font: 13pt georgia, sans-serif;
}
header {
    font: bold 40px Georgia;
   justify-content: space-around;
    
    
}
ul {
    color: green;
}
#image3 {
    style="width:900px;height:500px;" 
    ALIGN="center";
}